*{
    font-family: serif;
    list-style : none;
    text-decoration: none;
    font-size: 20px;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white(31, 151, 160);
}

h1{
    font-size : 48px;
    font-weight : bold;
    margin-bottom: 40px;
}

.intro-text > h1{
    margin-bottom: 17px;
}

.contents{
    font-size: 18px;
    font-weight: lighter;
}

.contents1{
    font-size: 24px;
    font-weight: bolder;
}

.contents_bold{
    font-size : 18px;
    font-weight : bold;
}
.contents2{
    font-size : 13px;
    font-weight:lighter;
}

.result{
    margin-top: 7px;
    font-size : 18px;
}
.intro-bg{
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:658px;
}

.amount{
    position: relative;
    top : -66px;
    display: flex;
    width: 1280px;
    background: white;
    margin : auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.amount > li{
    flex:1;
    height: 132px;
}

.amount > li > div{
   text-align : center;
   height : 57px;
   margin-top : 37px;
}

.amount >li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;
}
.search_area{
    width:300px;
    height:40px;
    background : rgba(0,0,0,0.5);
    border-radius:5px;
    margin-top : 24px;
}

.search_area > form > input{
    border  : none;
    width : 250px;
    height : 40px;
    background: white;
    color : black;
    padding-left : 10px;
    font-size: 14px;
}
.search_area > form > span{
    width:50px;
    color : white;
    font-weight: bold;
    cursor : pointer;
    text-align: right;
    margin-left : 5px;
    font-size: 14px;
}

.header{
    width:1280px;
    margin:auto;
    display:flex;
    height: 86px;
}

.nav
{
    display: flex;
    width:calc(1280px - 300px);
    justify-content: flex-end;
    line-height : 86px;

}


  .button > span {
    font-size: 17px;
    color : white;
    display: flex;
    position: relative;
    transition: 0.5s;
    margin-left : 84px;
  }
  
  .button > span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover > span {
    padding-right: 25px;
  }
  
  .button:hover > span:after {
    opacity: 1;
    right: 0;
  }

.intro-text{
    text-align : center;
    width: 100%;
    margin: 231px auto 231px auto;
}
.intro-text > h1,
.intro-text > h4{
    color : #fff;
}

.main_text0{
    width : 100%;
    height : 550px;
    background : #f1f2f3;
    margin-top : -132px;
}

.main_text0 > h1{
    text-align : center;
    padding-top : 116px;
}

.main_text0 > .contents{
    text-align: center;

}

.icons{
    display : flex;
    width : 1280px;
    height : 302px;
    margin: auto;
    text-align: center;
}

.icons > li{
    flex : 1;
    background : white;
    margin-top: 10px;
    height : 302px;
}

.icons > li > .icon_img > img{
    margin-top: 0px;
    width: 45%;
    height : 170px;
}
.icons > li:not(:last-child){
    margin-right : 20px;
}

.icons .contents2{
    width : 210px;
    margin : auto;
    letter-spacing: 1.5px;
    margin-top : 10px;
}

.more{
    width : 100px;
    height : 30px;
    background : darkslategray;
    color : white;
    font-size : 12px;
    line-height : 30px;
    margin : 5px auto;
    cursor : pointer;
}

.main_text1{
    background : #f1f2f3;
    width: 100%;
    height : 432px;
}
.main_text1 > h1{
    padding-top : 30px;
    text-align : center;
}

.main_text1 > .contents{
    text-align : center;
}

.content2 > h2{
    font-size: 23px;
    font-weight: bold;
}

.main_text1 > .service{
    display: flex;
    width : 1280px;
    height : 350px;
    margin-top: 12px;
    margin-left: 90px;
    text-align: center;
}

.main_text1 > .service > .food_photo{
    flex: 4;
}

.main_text1 > .service > .cont{
    flex: 6;
}

.main_text1> .service > .food_photo > img {
    width: 450px;
    height: 300px;
}

.service > .content2 {
    padding-left : 220px;
}

.service > .content2 > h2{

    text-align: center;
}

.service > .content2 > #mid{
    margin-top : 34px;
}

.main_text2{
    background : #f1f2f3;
    width : 100%;
    height : 500px;
    color: black;
}

.main_text2 > h1{
    text-align : center;
    padding-top : 35px;
}

.main_text2 > ul{
    display : flex;
    padding-top : 0apx;
    padding-left: 10px;
}

.main_text2 > ul > li{
    flex : 1;
    text-align : center;
}

.main_text2 > ul > li > h1,
.main_text2 > ul > li > div{
   color : black;
   font-size: 20px;
}


.main_text3{
    background : #f1f2f3;
    width : 100%;
    height : 450px;
    color : black;
    padding-bottom: 45px;
}

.main_text3 > h1{
    text-align : center;
    padding-top : 25px;
}

.main_text3 > .contents{
    text-align : center;
}

.main_text3> .service{
    display: flex;
    text-align: center;
    width: 85%;
}
.main_text3> .service > .food_photo{
    flex:1;
}

.main_text3.service > .con{
    flex: 1;
}

footer{
    display : flex;
    background : #1f1f1f;
    padding: 10px;
}

footer > .photo > img{ 
    width : 120px;
    height : 120px;  
}
footer > div:first-child{
    flex: 3;
  text-align: center;
  color : white;
  width : 50%;
  height : 700%;
}

footer > div:last-child{
    flex: 9;
    color : white;
    line-height: 30px;
}

